#cargarArchivo{

	width: 100%;
	height: 638px;
	background-color:#12807C; 
}

#cargarArchivo form {
float: left;
margin-top: 40px;

}

#cargarArchivo form input{

	margin-top: 20px;
}

h2{

	position: center;
	text-align: center;
	color: white;

}